<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.min.css" />
    <script src="~/js/site.min.js"></script>
    <script src="~/js/controllers.min.js"></script>
</head>

<body ng-app="diving-app" ng-controller="loginController as lgCtrl">

    <nav class="navbar navbar-inverse" >
        <div class="container">
            <div class="navbar-brand">
                DIVE LOGBOOK
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-class="lgCtrl.showLogin? 'active' :''" ng-click="lgCtrl.showTab(1)">
                        <a href="#">
                            <i class="fa fa-user"></i>
                            &nbsp;Login Logbook<span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li ng-class="lgCtrl.showSearch? 'active' :''" ng-click="lgCtrl.showTab(2)">
                        <a href="#">
                            <i class="fa fa-search"></i>
                            &nbsp;Search Diver
                        </a>
                    </li>
                    <li ng-class="lgCtrl.showSearchResults? 'active' :''" ng-click="lgCtrl.showTab(3)" ng-show="lgCtrl.searchResults.length>0">
                        <a href="#">
                            <i class="fa fa-list"></i>
                            &nbsp;Search Results
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main id="body" style="height:80%;">       
        @RenderBody()        
    </main>

    <footer class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <h3 class="navbar-brand">
                &copy; @DateTime.Now.Year - Oleksii Yermolenko
            </h3>
        </div>
    </footer>

</body>
</html>

