<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" type="text/css" href="~/css/site.min.css" />
    <script src="~/js/site.min.js"></script>
    <script src="~/js/controllers.min.js"></script>
  
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-brand">
                DIVE LOGBOOK
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown active" ng-class="lgCtrl.showLogin? 'active' :''" ng-click="lgCtrl.showTab(1)">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-flag"></i>
                            &nbsp;Dives&nbsp;&nbsp;<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Create new dive</a></li>
                            <li><a href="#">Show dives</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Search for dive</a></li>
                        </ul>
                    </li>
                    @*<li ng-class="lgCtrl.showSearch? 'active' :''" ng-click="lgCtrl.showTab(2)">
                                <a href="#">
                                    <i class="fa fa-search"></i>
                                    &nbsp;Search Diver
                                </a>
                        </li>*@

                </ul>
                <div class="pull-right top-offset">


                    <a class="btn btn-default btn-sm" asp-controller="Auth" asp-action="Edit">
                        <i class="fa fa-edit"></i>
                        &nbsp;
                        Edit profile
                    </a>
                    &nbsp;
                    <a class="btn btn-default btn-sm" asp-controller="Logbook" asp-action="Logout">
                        <i class="fa fa-home"></i>
                        &nbsp;
                        Logout
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <main id="body" style="padding-bottom:80px">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <h3 class="navbar-brand">
                &copy; @DateTime.Now.Year - Oleksii Yermolenko
            </h3>
        </div>
    </footer>

</body>
</html>
