@{
    Layout = "_LogbookLayout";
}

<form asp-anit-forgery="true" ng-app="diving-app" ng-controller="diveController as diveCtrl" ng-init="diveCtrl.init('@User.Identity.Name')">
    <div class="container" style="height:100%;">
        <div style="width:250px;margin-top:80px">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="navmenu-text"><b>My dives</b></span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-default btn-sm" >
                        <i class="fa fa-plus"></i>&nbsp;&nbsp;Create new
                    </a>
                </div>
                <div class="panel-body" style="padding:0;">
                    <ui class="list-group" >
                        <li>
                            <div>
                                <a class="list-group-item" href="#" ng-repeat="d in diveCtrl.Dives">
                                    {{d.DiveNumber}} {{d.DiveDate}} {{d.DiveCountry}}
                                </a>
                            </div>
                        </li>
                        @*<div class="hidden-md hidden-sm hidden-xs col-lg-1" style="margin-left:-10px;margin-right:20px;padding-left:-10px;width:90px;height:70px">
                                <img ng-src="api/getuserphoto/{{p.UserName}}" class="img-responsive pull-left img-thumbnail img-circle " style="height:100%;width:100%" />
                            </div>
                            <div class="hidden-md hidden-sm hidden-xs col-lg-10">
                                <p><b>Birth year:</b> {{p.BirthYear}}<b>&nbsp;&nbsp; Diver: </b>{{p.FullName}}</p>
                                <p><b>Email: </b> {{p.UserName}} <b>&nbsp;&nbsp;Contact: </b>{{p.PhoneNumber}} &nbsp;&nbsp;&nbsp;<img style="margin-top:-2px" ng-src="api/getcountryflag/{{p.CountryKod}}" /></p>
                            </div>
                            <div class="hidden-md hidden-sm hidden-xs col-lg-1" style="margin-left:-10px;padding-left:-10px">
                                <div class="btn btn-primary btn-sm top-offset-double" ng-click="lgCtrl.openPasp(p.UserName)" style="top:25%">Open</div>
                            </div>*@
                        
                    </ui>
                </div>

            </div>
        </div>    
    </div>
</form>

